@keyframes type {
    from {
        font-size: 0em;
    }
    to {
        font-size: 1em;
    }
}

@keyframes blink {
    0% {
        opacity: 0;
        display: inline-block;
    }
    25% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#hero {
    z-index: 5;
    position: relative;
    overflow: hidden;
    background-color: #edeff0;
}

#hero-text-wrapper {
    padding-top: 10%;
    padding-bottom: 15%;
}

.hero-text {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 3.2em;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.first-line > *,
.second-line > *,
.third-line > *,
.fourth-line > *,
.third-line-desktop > * {
    /*display: inline-block;*/
    animation-name: type;
    animation-duration: .01s;
    animation-fill-mode: both;
    white-space: pre;
    line-height: 0;
}

.third-line-desktop {
    display: none;
}

/*  There are a total of 5 cursors to give to illusion of 1 cursor breaking to the next line  */
.cursor-1,
.cursor-2,
.cursor-3,
.cursor-4,
.cursor-3-desktop {
    font-size: 1.1em;
    color: purple;
    visibility: visible;
    width: auto;
    animation-name: blink;
    animation-duration: .8s;
    animation-timing-function: linear;
    animation-fill-mode: both;
}

/* cursor appears instantly */
.cursor-1 {
    animation-iteration-count: 2;
}
.first-line > *:nth-of-type(1) {
    animation-delay: 1s;
}
.first-line > *:nth-of-type(2) {
    animation-delay: 1.1s;
}
.first-line > *:nth-of-type(3) {
    animation-delay: 1.2s;
}

/* cursor disappears at 1.6s */
.cursor-2 {
    animation-iteration-count: 3;
    animation-delay: 1.7s;
}
.second-line > *:nth-of-type(1) {
    animation-delay: 1.8s;
}
.second-line > *:nth-of-type(2) {
    animation-delay: 1.9s;
}
.second-line > *:nth-of-type(3) {
    animation-delay: 2s;
}
.second-line > *:nth-of-type(4) {
    animation-delay: 2.1s;
}
.second-line > *:nth-of-type(5) {
    animation-delay: 2.2s;
}
.second-line > *:nth-of-type(6) {
    animation-delay: 2.3s;
}
.second-line > *:nth-of-type(7) {
    animation-delay: 2.4s;
}
.second-line > *:nth-of-type(8) {
    animation-delay: 2.5s;
}

/* cursor disappears at 4.1s */
.cursor-3 {
    animation-iteration-count: 2;
    animation-delay: 4.2s;
}
.third-line > *:nth-of-type(1) {
    animation-delay: 4.3s;
}
.third-line > *:nth-of-type(2) {
    animation-delay: 4.4s;
}
.third-line > *:nth-of-type(3) {
    animation-delay: 4.5s;
}
.third-line > *:nth-of-type(4) {
    animation-delay: 4.6s;
}
.third-line > *:nth-of-type(5) {
    animation-delay: 4.7s;
}
.third-line > *:nth-of-type(6) {
    animation-delay: 4.8s;
}
.third-line > *:nth-of-type(7) {
    animation-delay: 4.9s;
}
.third-line > *:nth-of-type(8) {
    animation-delay: 5s;
}
.third-line > *:nth-of-type(9) {
    animation-delay: 5.1s;
}
.third-line > *:nth-of-type(10) {
    animation-delay: 5.2s;
}

/*cursor disppears at 5.8s*/
.cursor-4 {
    animation-iteration-count: infinite;
    animation-delay: 5.9s;
}
.fourth-line > *:nth-of-type(1) {
    animation-delay: 6s;
}
.fourth-line > *:nth-of-type(2) {
    animation-delay: 6.1s;
}
.fourth-line > *:nth-of-type(3) {
    animation-delay: 6.2s;
}
.fourth-line > *:nth-of-type(4) {
    animation-delay: 6.3s;
}
.fourth-line > *:nth-of-type(5) {
    animation-delay: 6.4s;
}
.fourth-line > *:nth-of-type(6) {
    animation-delay: 6.5s;
}
.fourth-line > *:nth-of-type(7) {
    animation-delay: 6.6s;
}
.fourth-line > *:nth-of-type(8) {
    animation-delay: 6.7s;
}
.fourth-line > *:nth-of-type(9) {
    animation-delay: 6.8s;
}
.fourth-line > *:nth-of-type(10) {
    animation-delay: 6.9s;
}
.fourth-line > *:nth-of-type(11) {
    animation-delay: 7s;
}

@media (min-width: 992px) {
    .hero-text {
        font-size: 3.7em;
    }
}

@media (min-width: 768px) {

    .third-line,
    .fourth-line {
        display: none;
    }

    .third-line-desktop {
        display: inline-block;
    }

    .cursor-3-desktop {
        animation-iteration-count: infinite;
        animation-delay: 4.2s
    }

    .third-line-desktop > *:nth-of-type(1) {
        animation-delay: 4.3s;
    }
    .third-line-desktop > *:nth-of-type(2) {
        animation-delay: 4.4s;
    }
    .third-line-desktop > *:nth-of-type(3) {
        animation-delay: 4.5s;
    }
    .third-line-desktop > *:nth-of-type(4) {
        animation-delay: 4.6s;
    }
    .third-line-desktop > *:nth-of-type(5) {
        animation-delay: 4.7s;
    }
    .third-line-desktop > *:nth-of-type(6) {
        animation-delay: 4.8s;
    }
    .third-line-desktop > *:nth-of-type(7) {
        animation-delay: 4.9s;
    }
    .third-line-desktop > *:nth-of-type(8) {
        animation-delay: 5s;
    }
    .third-line-desktop > *:nth-of-type(9) {
        animation-delay: 5.1s;
    }

    .third-line-desktop > *:nth-of-type(10) {
        animation-delay: 5.6s;
    }
    .third-line-desktop > *:nth-of-type(11) {
        animation-delay: 5.7s;
    }
    .third-line-desktop > *:nth-of-type(12) {
        animation-delay: 5.8s;
    }
    .third-line-desktop > *:nth-of-type(13) {
        animation-delay: 5.9s;
    }
    .third-line-desktop > *:nth-of-type(14) {
        animation-delay: 6s;
    }
    .third-line-desktop > *:nth-of-type(15) {
        animation-delay: 6.1s;
    }
    .third-line-desktop > *:nth-of-type(16) {
        animation-delay: 6.2s;
    }
    .third-line-desktop > *:nth-of-type(17) {
        animation-delay: 6.3s;
    }
    .third-line-desktop > *:nth-of-type(18) {
        animation-delay: 6.4s;
    }
    .third-line-desktop > *:nth-of-type(19) {
        animation-delay: 6.5s;
    }
    .third-line-desktop > *:nth-of-type(20) {
        animation-delay: 6.6s;
    }
    .third-line-desktop > *:nth-of-type(21) {
        animation-delay: 6.7s;
    }
    .third-line-desktop > *:nth-of-type(22) {
        animation-delay: 6.8s;
    }
}
