#mai-body {
    padding-top: 100px;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #333;
}
.dots {
    margin: 0px;
    line-height: 0.8;
}
/*This fixes issue with fixed nav & page anchors
Add padding-top & negative margin-top same as height of nav*/
#about,
#work,
#contact {
    padding-top: 100px;
    margin-top: -100px;
    position: relative;
}
.about-wrapper,
.work-wrapper,
.contact-wrapper {
    /*padding-top: 13%;*/
    padding-top: 48px;
    padding-bottom: 60px;
}
#about h1,
#work h1,
#contact h1 {
    font-family: 'ThinkPink';
    font-size: 4.5em;
    margin-bottom: 0px;
}
.about-header,
.work-header,
.contact-header {
    padding: 20px;
}


/*===================== NAV =====================*/
#mai-navbar {
    border-radius: 0px;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
    margin: 0px;
    background-color: white;
    height: 100px;
    max-height: none;
}
#mai-navbar-left a {
    color: #333;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    padding: 21px 15px;
}
#mai-navbar-left button {
    margin-top: 33px;
    margin-bottom: 33px;
    border: none;
}
#mai-navbar-wrapper {
    padding-bottom: 0px;
}
#mai-navbar-left button:focus,
#mai-navbar-left button:hover {
    background-color: white;
}
#mai-navbar-left button {
    border-radius: 0;
}
#mai-navbar-left span {
    color: #888;
}
#mai-navbar-right {
    max-height: none;

}
#mai-navbar-right ul {
    height: 100%;
    background-color: white;
    margin: 0 -15px;
    max-height: none;
    text-align: center;
}
#mai-navbar-right a {
    color: #333;
    text-transform: uppercase;
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 100px;
}

/*===================== ABOUT =====================*/
#about {
    z-index: 4;
    background-color: white;
}
#me {
    color: #333;
    /*padding-top: 60px;*/
    /*padding-bottom: 60px;*/
}
.me-img {
    width: 200px;
    height: 200px;
    margin: auto;
    background-image: url('../imgs/me.jpg');
    background-size: 140%;
    background-repeat: no-repeat;
    background-position: 35% 0%;
    -webkit-clip-path: polygon(
        40% 2.67949%,   43.1596% 1.20615%,    46.52704% 0.30384%,   50% 0%,          53.47296% 0.30384%,   56.8404% 1.20615%,    60% 2.67949%,
        85% 20.17949%,  87.85575% 22.17911%,  90.32088% 24.64425%,  92.3205% 27.5%,  93.79385% 30.6596%,   94.69615% 34.02704%,  95% 37.5%,
        95% 62.5%,      94.69615% 65.97296%,  93.79385% 69.3404%,   92.3205% 72.5%,  90.32088% 75.35575%,  87.85575% 77.82089%,  85% 79.82051%,
        60% 97.32051%,  56.8404% 98.79385%,   53.47296% 99.69616%,  50% 100%,        46.52704% 99.69616%,  43.1596% 98.79385%,   40% 97.32051%,
        15% 79.82051%,  12.14425% 77.82089%,  9.67912% 75.35575%,   7.6795% 72.5%,   6.20615% 69.3404%,    5.30385% 65.97296%,   5% 62.5%,
        5% 37.5%,       5.30385% 34.02704%,   6.20615% 30.6596%,    7.6795% 27.5%,   9.67912% 24.64425%,   12.14425% 22.17911%,  15% 20.17949%
    );
    -moz-clip-path: polygon(
        40% 2.67949%,   43.1596% 1.20615%,    46.52704% 0.30384%,   50% 0%,          53.47296% 0.30384%,   56.8404% 1.20615%,    60% 2.67949%,
        85% 20.17949%,  87.85575% 22.17911%,  90.32088% 24.64425%,  92.3205% 27.5%,  93.79385% 30.6596%,   94.69615% 34.02704%,  95% 37.5%,
        95% 62.5%,      94.69615% 65.97296%,  93.79385% 69.3404%,   92.3205% 72.5%,  90.32088% 75.35575%,  87.85575% 77.82089%,  85% 79.82051%,
        60% 97.32051%,  56.8404% 98.79385%,   53.47296% 99.69616%,  50% 100%,        46.52704% 99.69616%,  43.1596% 98.79385%,   40% 97.32051%,
        15% 79.82051%,  12.14425% 77.82089%,  9.67912% 75.35575%,   7.6795% 72.5%,   6.20615% 69.3404%,    5.30385% 65.97296%,   5% 62.5%,
        5% 37.5%,       5.30385% 34.02704%,   6.20615% 30.6596%,    7.6795% 27.5%,   9.67912% 24.64425%,   12.14425% 22.17911%,  15% 20.17949%
    );
    clip-path: polygon(
        40% 2.67949%,   43.1596% 1.20615%,    46.52704% 0.30384%,   50% 0%,          53.47296% 0.30384%,   56.8404% 1.20615%,    60% 2.67949%,
        85% 20.17949%,  87.85575% 22.17911%,  90.32088% 24.64425%,  92.3205% 27.5%,  93.79385% 30.6596%,   94.69615% 34.02704%,  95% 37.5%,
        95% 62.5%,      94.69615% 65.97296%,  93.79385% 69.3404%,   92.3205% 72.5%,  90.32088% 75.35575%,  87.85575% 77.82089%,  85% 79.82051%,
        60% 97.32051%,  56.8404% 98.79385%,   53.47296% 99.69616%,  50% 100%,        46.52704% 99.69616%,  43.1596% 98.79385%,   40% 97.32051%,
        15% 79.82051%,  12.14425% 77.82089%,  9.67912% 75.35575%,   7.6795% 72.5%,   6.20615% 69.3404%,    5.30385% 65.97296%,   5% 62.5%,
        5% 37.5%,       5.30385% 34.02704%,   6.20615% 30.6596%,    7.6795% 27.5%,   9.67912% 24.64425%,   12.14425% 22.17911%,  15% 20.17949%
    );
}
.me-headline {
    padding-top: 30px;
}
.me-text {
    text-align: center;
    padding: 20px;
    font-size: 0.875em;
}

/*===================== WORK =====================*/

#work {
    z-index: 3;
    background-color: #edeff0;
}
#work ul {
    list-style: none;
    padding-left: 0px;
    white-space: nowrap;
}
#work h5, .work-wrapper p  {
    margin: 0px auto;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
}
.work-content {
    height: 280px;
    padding-top: 12px;
    padding-bottom: 12px;
}
.work-content-wrapper {
    height: 100%;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
#work img:hover {
    opacity: 0;
}
#work img {
    opacity: 1;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    transition: all 200ms ease-in-out;
}
#jolie {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../imgs/img-jolie.jpg);
    background-position: top;
}
#jolie img {
    width: 60%;
}
#orbs {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../imgs/img-orbs.jpg);
}
#orbs img {
    width: 30%;
}
#penta {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../imgs/img-penta.jpg);
}
#penta img {
    width: 45%;
}
#smart {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../imgs/img-smart.png);
}
#smart img {
    width: 30%;
}
#squillo {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../imgs/img-squillo.jpeg);
    background-position: bottom;
}
#squillo img {
    width: 27%;
}
#dance {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../imgs/img-jolie.jpg);
}
#dance img {
    width: 30%;
}
.work-content-wrapper:hover .work-details {
    top: -256px;
}
.work-details {
    background-color: purple;
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    padding: 10%;
    transition:  all 500ms ease-in-out;
}
.tool-wrapper {
    padding-bottom: 20%;
    border-top: 1px solid #999;
}
.tool-header {
    padding-bottom: 40px;
}
.tool-wrapper h3 {
    color: #999;
    font-weight: 300;
    margin-top: -13px;
    background-color: #edeff0;
}
.tags {
    text-align: center;
}
.tech {
    border-right: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    display: inline-block;
    height: 120px;
}
.tags .tech:nth-last-child(-n+3){
    border-bottom: none;
}
.tech p {
    color: #999;
    line-height: 120px;
}

/*===================== CONTACT =====================*/
#contact,
#footer {
    background-color: #2E3335;
}
#contact h1 {
    color: white;
}
#contact li {
    display: inline-block;
}
.contact-wrapper {
    /*padding-top: 13%;*/
    padding-bottom: 20%;
}
.footer-text h6 {
    color: #7E8B91;
}
.icons {
    margin: 15px auto;
    height: 65px;
}
.icons a {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-position: right;
    background-repeat: no-repeat;
    text-decoration: none;
}
.icons p {
    font-size: 0.9em;
    line-height: 65px;
    color: white;
    text-transform: uppercase;
}
#linkedin {
    background-image: url(../imgs/icon-linkedin.svg);
}
#github {
    background-image: url(../imgs/icon-github.svg);
}
#mail {
    background-image: url(../imgs/icon-mail.svg);
}
#resume {
    background-image: url(../imgs/icon-resume.svg);
}

/*===================== FOOTER ======================*/
#footer {
    padding: 10px;
    border-top: 1px solid #3b3f40;
}
#footer h6 {
    color: #999;
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-weight: 300;
}
